  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <%= link_to "iHome", root_path, class:"pr-3 ihome" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <% if account_signed_in? %>
            <% if current_account.admin? %>
              <%= link_to "Profile", properties_path, class: "nav-link" %>
            <% else %>
              <%= link_to  edit_account_registration, class:"nav-item" do %>
              <span class="nav-link"><%= current_account.email%></span>
              <% end %>
            <% end %>
          <% end %>
        </li>

        <% if account_signed_in? %>

          <li class="nav-item">
            <%= link_to "Log Out",  destroy_account_session_path, method: :delete, class:"nav-link" %>
          </li>
        <% else%>
          <li class="nav-item">
            <%= link_to "Log In", new_account_session_path, class:"nav-link" %>
          </li>
        <li class="nav-item">
          <%= link_to "Sign Up ", new_account_registration_path, class:"nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
