<% if @agent.image.attached? %>
  <%= cl_image_tag @agent.image.key, height: 100, width: 100, radius: "max", background: "#59C3C3" %>
<% else %>
  <%= image_tag "placeholder.jpg" %>
<% end %>
<h2><%= @agent.full_name %></h2>
<p><%= @agent.company %></p>



<div class="btn btn-block btn-outline-dark" id="show-tel" data-tel="<%= @agent.phone %>"><i class="fas fa-phone pr-2"></i>Call</div>
<div class="btn btn-block btn-outline-dark"><i class="fas fa-envelope pr-2"></i>Email</div>

