<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-8 col-lg-8 col-md-8">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :rooms %>
      <%= form.number_field :rooms, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :bedrooms %>
      <%= form.number_field :bedrooms, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :photos %>
      <%= form.file_field :photos, as: :file, multiple: true, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Submit", class: "btn btn-block btn-primary"%>
    </div>
  </div>
<% end %>
