<div class="property-detail-page">
  <div class="heading-apt-show">
    <h3><%= @property.name %></h3>
    <p><%= @property.price > 0 ? number_to_currency(@property.price, unit: '€', presicion: 0) : "For Sale" %></p>
  </div>
  <div class="center">
    <% @property.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "property-photo"%>
    <% end %>
  </div>


  <div class="center-nav">
    <% @property.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "property-photo-nav"%>
    <% end %>
  </div>
</div>

  <div class="property-info">
    <div class="apartment-info">
      <div class="detail1">
        <p>
          <%= @property.address %>
        </p>

        <h3>
          <strong class="apt-name"><%= @property.name %></strong>
        </h3>

        <% if @property.available_date != nil %>
          <p><strong>
            Available from: <%= @property.available_date.day.ordinalize %> <%= @property.available_date.strftime('%B') %> <%= @property.available_date.strftime('%Y') %>
          </strong></p>
        <% else %>
          <p><strong>Available from: Contact to Agent</strong></p>
        <% end %>

      </div>

      <div class="detail2">
          <p>
            <strong>Price:　€</strong>
            <%=@property.price %> / m
          </p>

          <div class="apt-room">
            <p>
              <i class="fas fa-couch"></i>
              <%= @property.rooms %>
            </p>

            <p>
              <i class="fas fa-bed"></i>
              <%= @property.bedrooms %>
            </p>

            <p>
              <i class="fas fa-car"></i>
              <%= @property.parking %>
            </p>
          </div>
      </div>

      <div class="description">
        <p class="description-text">
          <strong>Description:</strong>
          <br><%= @property.description %>
        </p>
        <button class="btn btn-outline-info toggleDetails mb-3 ">Read more</button>
      </div>
    </div>
    <div class="agent-info">
      <%= render "properties/agent_details" %>
    </div>

  </div>

  <%= render "properties/agent_property_list", properties: @agent_properties %>


    <%= link_to 'Edit', edit_property_path(@property), class: "btn btn-primary"%> |
    <%= link_to 'Back', properties_path, class: "btn btn-primary" %>

