<div class="property-detail-page">
  <div class="center">
    <% @property.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "property-photo"%>
    <% end %>
  </div>

  <div class="center-nav">
    <% @property.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "property-photo-nav"%>
    <% end %>
  </div>


  <p>
    <strong>Name:</strong>
    <%= @property.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @property.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @property.price %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= @property.rooms %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= @property.bedrooms %>
  </p>

    <%= link_to 'Edit', edit_property_path(@property), class: "btn btn-primary"%> |
    <%= link_to 'Back', properties_path, class: "btn btn-primary" %>
</div>
