
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/kaori-kk/image/upload/v1586354474/Screenshot_2020-04-08_at_16.00.56_f3y4dh.png);">
    <div class="container">
      <h1>A WAY TO FIND <br>A PERFECT PLACE</h1>
      <a class="main-btn" href="#">Learn more »</a>
    </div>
  </div>


  <div class="container-marketing">
    <h2 class="title">Latest Properties</h2>
        <div class="main-property">
          <% @properties.each do |property| %>
            <div class="property">
              <% if property.photo.attached? %>
                <%= cl_image_tag property.photo.key, class: "heading-img"%>
              <% end %>
              <div class="main-property-details">
                <div class="property-detail-1">
                  <h4><%= property.name %></h4>
                  <h4><i class="fas fa-euro-sign"></i><%= property.price %></h4>
                </div>
                <div class="property-detail-2">
                  <% if property.rooms > 1 %>
                    <p><i class="fas fa-couch"></i><%= property.rooms %> rooms</p>
                  <% else %>
                    <p><i class="fas fa-couch"></i><%= property.rooms %> room</p>
                  <% end %>
                  <% if property.bedrooms > 1 %>
                    <p><i class="fas fa-bed"></i><%= property.bedrooms %> bedrooms</p>
                  <% else %>
                    <p><i class="fas fa-bed"></i><%= property.bedrooms %> bedroom</p>
                  <% end %>
                </div>

                <p><a class="btn btn-secondary details-btn d-flex justify-content-center" href="#" role="button">View details »</a></p>
              </div>
            </div>
          <% end %>
        </div>

      <div class="arrow-icon">
        <i class="fas fa-chevron-left prev"></i>
        <i class="fas fa-chevron-right next"></i>
      </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette m-2">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1586353405/Screenshot_2020-04-08_at_15.40.42_xjvays.png" class="marketing-img" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1586357915/Screenshot_2020-04-08_at_16.58.20_qhzzrr.png" class="marketing-img" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img src="https://res.cloudinary.com/kaori-kk/image/upload/v1586353410/Screenshot_2020-04-08_at_15.42.03_c8py3j.png" class="marketing-img" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>


